<div class="container-fluid">

  <div class="row pioneers">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
          <h1 class="text-center">
              We are pioneers in the tech-driven supply chain space for fresh produce
          </h1>
      </div>
      <div class="col-lg-3"></div>
  </div>

  <div style="text-align:center;">
      <img class="truck" src="assets/images/about/ninjalocationtruck.png" alt="Show image" title="Grocery Ninja">
  </div>

  <div class="row jumbotron">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
          <h2>Supply Chain and Tech</h2>

          <p>
              Ninjacart is India's largest fresh produce supply chain company that is solving one of the toughest
              problems in the world through technology.

              We connect producers of food directly with retailers, restaurants, and service providers using in-house
              applications that drive end to end operations. Currently, our Supply Chain is equipped to move 1400
              tonnes of perishables from farms to businesses, every day, in less than 12 hours.
          </p>
      </div>

      <div class="col-lg-2"></div>
  </div>

  <div class="row">

      <div class="col-lg-1"></div>

      <div class="col-lg-4 jumbotron card">
          <h3><i class="fas fa-exclamation" aria-hidden="true"></i> &nbsp; The Problem</h3>
          <ul>
              <li>Farmers experience price risk, information asymmetry about demand, distribution inefficiency, and
                  receive late payments.</li>
              <br>
              <li>Retailers face problems like higher costs, low quality and unhygienic produce, high price
                  volatility, and the everyday hassle of going to the market.</li>
              <br>
              <li>The traditional Supply Chain is highly inefficient, unorganized, and has a high rate of food
                  wastage.</li>
          </ul>
      </div>

      <div class="col-lg-2"></div>

      <div class="col-lg-4 jumbotron card">
          <h3><i class="fas fa-check-circle" aria-hidden="true"></i> &nbsp; Our solution</h3>

          <ul>
              <li>We eliminated intermediaries by taking control of the Supply Chain by using technology and
                  analytics.</li>
              <br>
              <li>We built reliable, cost-effective, and high-speed logistics and infrastructure to solve for
                  inefficiencies in the Supply Chain.</li>
              <br>
              <li>On one end, farmers get better prices and consistent demand, and on the other end, retailers receive
                  fresh produce at competitive prices that are delivered to their doorstep.</li>
          </ul>

          <p></p>
      </div>

      <div class="col-lg-1"></div>
  </div>

  <h1 class="text-center growth">Growth and Development</h1>

  <div class="row growth">

      <div class="col-lg-1"></div>

      <div class="col-lg-2 icon">
          <i class="fas fa-tractor" aria-hidden="true"></i>
          <br>
          <p class="iconpara">We work with formers</p>
      </div>
      <div class="col-lg-2 icon">
          <i class="fas fa-shopping-basket" aria-hidden="true"></i>
          <br>
          <p class="iconpara">We supply fresh produce to retailers</p>
      </div>
      <div class="col-lg-2 icon">
          <i class="fas fa-shipping-fast" aria-hidden="true"></i>
          <br>
          <p class="iconpara">We move fresh produce everyday, Pan India</p>
      </div>
      <div class="col-lg-2 icon">
          <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
          <br>
          <p class="iconpara">We are operational in 2 major cities - Chennai, Madurai</p>
      </div>
      <div class="col-lg-2 icon">
          <i class="fas fa-recycle" aria-hidden="true"></i>
          <br>
          <p class="iconpara">We source from Indian Village</p>
      </div>

      <div class="col-lg-1"></div>
  </div>


  <h1 class="text-center road">The Road Ahead</h1>

  <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-5 roadpara">
          <p>Our vision is to build India's most efficient and largest Supply Chain platform and improve the lives of
              producers, businesses, and consumers in a meaningful manner.</p>
      </div>
      <div class="col-lg-5 roadpara">
          <p>We are focused on making the Ninjacart innovation more accessible to the most fragmented parts of
              society. We intend to leverage our strengths and resources to innovate for new product categories and
              customer segments while solving complex supply chain problems.</p>
      </div>
      <div class="col-lg-1"></div>
  </div>

  <div class="founder">
      <h1>The Founder</h1>
      <img src="assets/images/founder/mypic.jpeg" class="circle" alt="Founder">
  </div>


  <h1 id="thank">Thank you</h1>

  <div class="row text-center">
      <div class="col-lg-12"><img src="assets/images/thankyou/donald.gif" alt="Show image"></div>
  </div>