<div id="demo" #carousel class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">

  </ul>
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="assets/images/carousel/ecommerce.jpg" alt="Los Angeles">
          <div class="carousel-caption">
              <h3></h3>
              <p></p>
          </div>
      </div>
      <div class="carousel-item">
          <img src="assets/images/carousel/tomatoes.jpg" alt="Chicago">
          <div class="carousel-caption">
              <h3></h3>
              <p></p>
          </div>
      </div>


      <div class="carousel-item">
          <img src="assets/images/carousel/coffee-beans.jpg" alt="New York">
          <div class="carousel-caption">
              <h3></h3>
              <p></p>
          </div>
      </div>


      <div class="carousel-item">
          <img src="assets/images/carousel/raspberries.jpg" alt="New York">
          <div class="carousel-caption">
              <h3></h3>
              <p></p>
          </div>
      </div>

      <div class="carousel-item">
          <img src="assets/images/carousel/carrot.jpg" alt="New York">
          <div class="carousel-caption">
              <h3></h3>
              <p></p>
          </div>
      </div>


      <div class="carousel-item">
          <img src="assets/images/carousel/glass.jpg" alt="New York">
          <div class="carousel-caption">
              <h3></h3>
              <p></p>
          </div>
      </div>

      <div class="carousel-item">
          <img src="assets/images/carousel/strawberries.jpg" alt="New York">
          <div class="carousel-caption">
              <h3></h3>
              <p></p>
          </div>
      </div>

      <div class="carousel-item">
          <img src="assets/images/carousel/apples.jpg" alt="New York">
          <div class="carousel-caption">
              <h3></h3>
              <p></p>
          </div>
      </div>

      <div class="carousel-item">
          <img src="assets/images/carousel/assortment.jpg" alt="New York">
          <div class="carousel-caption">
              <h3></h3>
              <p></p>
          </div>
      </div>

      <div class="carousel-item">
          <img src="assets/images/carousel/fruit.png" alt="New York">
          <div class="carousel-caption">
              <h3></h3>
              <p></p>
          </div>
      </div>

      <div class="carousel-item">
          <img src="assets/images/carousel/groceryonline.jpg" alt="New York">
          <div class="carousel-caption">
              <h3></h3>
              <p></p>
          </div>
      </div>

      <div class="carousel-item">
          <img src="assets/images/carousel/vegetables.jpg" alt="New York">
          <div class="carousel-caption">
              <h3></h3>
              <p></p>
          </div>
      </div>



  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
  </a>
</div>

<script>
  $("#demo").carousel({ interval: 1500 });
  $("#demo").carousel("cycle");
</script>
