<section>
    <div mat-dialog-content>
        <h3 class="text-center mb-5">Update Product</h3>
    
        <mat-form-field appearance="fill">
    <form [formGroup]="updateProductForm" (ngSubmit)="updateProduct()" class="addProductForm">
        <div class="form-group">
            <mat-label for="productName">Product Name</mat-label>
            <input type="text" matInput [(ngModel)]="this.updateProductName" formControlName="productName" class="form-control" name="productName" id="productName"
                required autocomplete="off">
        </div>
        <div class="form-group">
            <mat-label for="unit">Unit</mat-label>
            <input formControlName="unit" matInput [(ngModel)]="this.updateUnit" class="form-control" type="number" name="unit" id="unit" required>
        </div>
        <div class="form-group">
            <select name="type" id="type" matInput [(ngModel)]="this.updateType" formControlName="type" required>
                <option value="" disabled hidden>Select Product Type</option>
                <option value="Kg">Kg</option>
                <option value="Pc">Pc</option>
                <option value="Ltr">Ltr</option>
            </select>
        </div>
        <div class="form-group">
            <select name="category" id="category" matInput [(ngModel)]="this.updateCategory" formControlName="category" required>
                <option value="" disabled hidden>Select Product category</option>
                <option value="Fruits">Fruits</option>
                <option value="Cookies">Cookies</option>
                <option value="Soft Drinks">Soft Drinks</option>
                <option value="Vegetables">Vegetables</option>
                <option value="Dry Fruits">Dry Fruits</option>
                <option value="Spicy Chips">Spicy Chips</option>
                <option value="Vegetable Oils">Vegetable Oils</option>
    
            </select>
        </div>
        <div class="form-group">
            <mat-label for="price">Price</mat-label>
            <input formControlName="price" matInput [(ngModel)]="this.updatePrice"  type="number" class="form-control" name="price" id="price" required>
        </div>
        <div class="form-group">
            <mat-label for="stock">Stock</mat-label>
            <input formControlName="stock" matInput [(ngModel)]="this.updateStock" type="number" class="form-control" name="stock" id="stock" required>
        </div>
        <div class="form-group">
            <mat-label for="imgUrl">Image Url</mat-label>
            <input formControlName="imgUrl" matInput (change)="onSelect($event)"  type="file" class="form-control" name="imgUrl" id="imgUrl" required>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit" >Submit</button>
        </div>
    </form>
    </mat-form-field>
    </div>
    
    <!-- <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">No Thanks</button>
        <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
      </div> -->
</section>