<div class="sidebar">
  <a routerLink="/adminPanel/flowChart" routerLinkActive="active">Dashboard</a>
  <a routerLink="/adminPanel/adminList" routerLinkActive="active">Admin List</a>
  <a routerLink="/adminPanel/user/userList" routerLinkActive="active">User List</a>
  <a routerLink="/adminPanel/product/productList" routerLinkActive="active">Product List</a>
  <a routerLink="/adminPanel/product/addProduct" routerLinkActive="active">Add Product</a>    
  <a routerLink="/adminPanel/product/removeProduct" routerLinkActive="active">Remove Product</a>
  <a routerLink="/adminPanel/placeOrders" routerLinkActive="active">placeOrders</a>
</div>

<div class="content">
      <router-outlet></router-outlet>
</div>
