<app-image-gallery></app-image-gallery>


<app-products [noOfProducts]="6"></app-products>


<section>
    <div class="container">

        <hr>
    
        <div class="row">
    
            <div class="col-lg-3">
               <article>
                <h3 class="text-center">Popular Categories</h3>
                <p class="brands">
                    Sunflower Oils, Wheat Atta, Ghee, Milk, Health Drinks, Flakes, Organic F&V, Namkeen, Eggs, Floor
                    Cleaners, Other Juices,
                    Leafy Vegetables, Frozen Veg Food, Diapers & Wipes
                </p>
               </article>
            </div>
    
            <div class="col-lg-3">
                <article>
                    <h3 class="text-center">Popular Brands</h3>
                <p class="brands">
                    Fresho, BB Royal, Nandini, Kelloggs, 24 Mantra, Saffola, Lizol, Safal, Horlicks, MTR, Fresho Meats,
                    Whisper , Real, Milky
                    Mist, Nivea, Himalaya, Comfort, Sunpure , Bru , Zespri
                </p>
                </article>
            </div>
    
            <div class="col-lg-3">
               <article>
                <h3 class="text-center">Cities We Serve</h3>
                <p class="brands">
                    Bangalore, Hyderabad, Mumbai, Pune, Chennai, Delhi, Mysore, Madurai, Coimbatore, Vijayawada-Guntur,
                    Kolkata, Ahmedabad-Gandhinagar,
                    Nashik, Lucknow-Kanpur, Gurgaon, Vadodara, Visakhapatnam, Surat, Nagpur, Patna, Indore, Chandigarh
                    Tricity,
                    Jaipur, Bhopal, Noida-Ghaziabad, Kochi, Krishna District,
                </p>
               </article>
            </div>
    
            <div class="col-lg-3 text-center">
               <article>
                <h3>Payment Options</h3>
                <img class="pay" src="assets/images/payment/paytm.png" alt="Paytm Image" width="25%" height="25%">
                <img class="paypal" src="assets/images/payment/paypal.png" alt="Paypal Image" width="30%" height="30%">
                <br>
                <img class="pay" src="assets/images/payment/visa.png" alt="Visa Image" width="25%" height="25%">
                <img class="pay" src="assets/images/payment/mastercard.png" alt="MasterCard Image" width="25%" height="25%">
                <br>
                <img class="pay" src="assets/images/payment/gpay.png" alt="GPay Image" width="25%" height="25%">
                <img class="pay" src="assets/images/payment/americanexpress.png" alt="AmericanExpress Image" width="25%" height="25%">
               </article>
            </div>

        </div>
    
    
    </div>
</section>