* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-size: 17px;
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
  
    max-width: 100vw;
  }
  
  .content {
    position: fixed;
    bottom: 0;
    color: #f1f1f1;
    width: 100vw;
    padding: 20px;
    margin-bottom: 20px;
  }


.form-group
{
    margin: auto;
    width: 240px;
    text-align: center;
    color: rgb(17, 17, 17);

}
h1
{
    text-align: center;
    color: rgb(7, 7, 7);
    padding-top: 30px;
}
.text-center
{
    color: rgb(22, 21, 22);
    padding-bottom: 25px;
}
form
{
    background: white;
    margin-left: 38%;
    margin-right: 38%;
    border-radius: 20px;
    position: relative;
    margin-bottom: 50px;
    margin-top: 50px;
}
label
{
    padding-top: 10px;
    color: mediumseagreen;
}
.btn
{
    border-radius: 25px;
    background: mediumseagreen;

}
/* img
{
    margin-left: 60px;
    margin-top: 0;
    margin-bottom: 0;
} */
.form-control
{
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-color: mediumseagreen;
}
sup
{
    color: red;
}
.log
{
    margin-top: 20px;
}
.danger
{
    color: red;
    font-size: 12px;
}
